.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.lang .lang-selector {
  text-decoration: none;
  color: #6b705c;
  transition: all 0.2s;
}

.lang .lang-selector:hover {
  color: #a5a58d !important;
  cursor: pointer;
}

.lang .lang-selected {
  font-weight: bold;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  color: #f07167;
  transition: all 0s;
}

header h1:hover {
  color: #e63946;
}

header a {
  text-decoration: none;
}

a.active span {
  color: #a5a58d;
}

.menu a {
  color: #6b705c !important;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  transition: all 0.2s;
}

.menu a:hover {
  color: #a5a58d !important;
}

.menu img {
  opacity: 1;
  transition: all 0.2s;
}

.menu img:hover {
  opacity: 0.8;
}

.newsletter-header h5 {
  font-family: 'Oswald', sans-serif;
  color: #f07167;
  text-align: center;
}

.newsletter-header h5:hover {
  color: #e63946;
  cursor: pointer;
}

.newsletter-header a {
  text-decoration: inherit;
}

.content {
  margin-bottom: 2em;
}

.content .header {
  color: #a5a58d;
  text-decoration: underline 3px #fed9b7;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-right: 50%;
}

.contentText {
  color: #6b705c;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.contentText a {
  text-decoration: none;
  color: #6b705c;
  font-weight: 400;
  text-decoration: underline 1px #a5a58d solid;

}

.contentText a:hover {
  color: #a5a58d;
}

.contentLeft {
  padding-right: 1em;
  border-right: 1px solid #fed9b7;
}

.bioImg {
  border-radius: 50%;
  border: 2px solid #fed9b7;
  width: 150px;
  max-width: 100%;
}

input,
textarea {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300 !important;
}

.error {
  color: #6b705c;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 40%;
}

.error h5 {
  color: #a5a58d;
}

.error img {
  border-radius: 50%;
  border: 2px solid #fed9b7;
  padding: 0.5em;
  opacity: 0.8;
  max-width: 100%;
}

.error img:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .contentLeft {
    padding-right: 0;
    border-right: none;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #fed9b7;
  }

  .content .header {
    margin-right: 0;
  }
}